
<div class="nav-header">
    <div class="brand-logo">
        <a href="#">
            <span class="brand-title">
                <img src="/images/logo.png" style="width:150px;height:70px;margin-top: -20px;margin-left: 10px;" alt="">
            </span>
        </a>
    </div>
</div>